@import "variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// background image
.bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $link_color;
    opacity: 0.8;
  }
}

.section_title {
  position: relative;
  h1 {
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      width: 5%;
      height: 2%;
      background: #ff3636;
      left: 48%;
      top: 65%;
    }
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: #ff3636;
      left: 50%;
      top: 61%;
      border-radius: 50%;
    }
  }
  p {
  }
}
