@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.8;
}

.section_title {
  position: relative;
}

.section_title h1 {
  margin-bottom: 20px;
}

.section_title h1::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 2%;
  background: #ff3636;
  left: 48%;
  top: 65%;
}

.section_title h1::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ff3636;
  left: 50%;
  top: 61%;
  border-radius: 50%;
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px;
  line-height: 25px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h4,
h5,
h6 {
  font-weight: 600;
}

.logo {
  color: #333;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #333;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}

nav {
  height: 80px;
}

.navbar-nav a {
  color: #333 !important;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
}

.navbar-nav a:hover {
  color: #ff3636 !important;
}

.banner_img {
  background-image: url("../../../img/banner.jpg");
  height: 100vh;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
  position: absolute;
  left: 30%;
}

.banner .developer_name {
  margin-bottom: 10px;
}

.banner .developer_name h4 {
  font-size: 80px;
  font-weight: 900;
}

.banner .developer_title {
  margin-bottom: 15px;
}

.banner .developer_title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.banner .developer_title li {
  font-size: 24px;
  padding: 0 5px;
}

.banner button {
  background-color: #ff3636;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #ff3636;
}

.banner button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.about h1 {
  font-size: 40px;
  color: #ff3636;
}

.about h4 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
}

.about .developer_details {
  width: 90%;
  margin-bottom: 30px;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.about ul li {
  margin-right: 35px;
}

.about ul li i {
  color: #ff3636;
  margin-right: 5px;
}

.about ul .mleft {
  margin-left: 58px;
}

.about button {
  background-color: #ff3636;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #ff3636;
  margin-top: 15px;
}

.about button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.services {
  background-color: #f6f6f6;
  text-align: center;
}

.services .service_details {
  padding: 100px 0px;
}

.services .service_single_content {
  background-color: #fff;
  padding: 25px;
  margin-top: 40px;
}

.services .service_icon i {
  font-size: 40px;
  background-color: #ff3636;
  color: #fff;
  padding: 10px;
}

.single_project {
  background-image: url("../../../img/1.jpg");
  height: 300px;
}

.single_project:hover:hover .project_content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.single_project .project_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  position: relative;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.single_project .project_content .project-popup {
  text-decoration: none;
}

.single_project .project_content i {
  display: block;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  color: #222;
}

.counter_div {
  background-color: #0f1113;
  color: #fff;
  padding: 60px 0;
}

.counter_div .single_counter {
  text-align: center;
}

.counter_div .single_counter i {
  background-color: #ff3636;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}

.experience .experience_list {
  list-style-type: none;
  position: relative;
}

.experience .experience_list::after {
  position: absolute;
  content: "";
  background: #ff3636;
  height: 100%;
  width: 2px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.experience .experience_list li {
  position: relative;
  overflow: hidden;
  clear: both;
}

.experience .experience_list .experience_content {
  width: 500px;
  text-align: end;
  border: 2px solid #ff3636;
  padding: 20px;
}

.experience .experience_list .experience_content span {
  color: #ff3636;
  font-weight: 600;
}

.experience .experience_list .experience_content::before {
  content: "";
  position: absolute;
  background-color: #ff3636;
  width: 30px;
  height: 30px;
  left: 48%;
  border-radius: 50%;
  -webkit-transform: translate(-19%);
          transform: translate(-19%);
  top: 45%;
}

.testimonial_section {
  background-color: #0f1113;
  color: #fff;
}

.testimonial_section .testimonial {
  margin-top: 20px;
  padding-top: 30px;
}

.testimonial_section .testimonial .slick_slider {
  position: relative;
}

.testimonial_section .testimonial .slick-prev {
  background: tomato;
  border-color: tomato;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  left: 100%;
}

.testimonial_section .testimonial .slick-next {
  background: tomato;
  border-color: tomato;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -4%;
  top: 40%;
}

.testimonial_section .testimonial .testimonial_single_content {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial_section .testimonial .testimonial_single_content img {
  border-radius: 50%;
  margin-bottom: 20px;
  display: inline-block;
}

.testimonial_section .testimonial .testimonial_single_content h4 {
  margin-top: 40px;
}

.plan {
  background-color: #f6f6f6;
  height: 800px;
  padding-top: 60px;
}

.plan .single_plan {
  background-color: #fff;
  text-align: center;
  padding: 64px 0px;
}

.plan .single_plan h1 {
  font-weight: 900;
}

.plan .single_plan ul {
  list-style-type: none;
}

.plan .single_plan li {
  padding: 8px 0;
}

.plan .single_plan button {
  background-color: #ff3636;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #ff3636;
}

.plan .single_plan button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.team .single_team {
  position: relative;
  overflow: hidden;
}

.team:hover .team_overlay {
  position: absolute;
  bottom: 0;
}

.team img {
  width: 100%;
}

.team .team_overlay {
  position: absolute;
  bottom: -27%;
  height: 120px;
  left: 0%;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team .team_overlay h4 {
  margin-bottom: 5px;
  padding-top: 10px;
}

.team .team_overlay p {
  margin-bottom: 5px;
}

.team .team_overlay a {
  color: #fff;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team .team_overlay a:hover {
  color: #ff3636;
}

.blog {
  background-color: #f6f6f6;
  height: 800px;
  padding-top: 50px;
}

.blog .single_blog {
  background-color: #fff;
  padding-bottom: 15px;
}

.blog .single_blog img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blog .single_blog img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.blog .single_blog .blog_details {
  padding: 15px;
}

.blog .single_blog .blog_details h4 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blog .single_blog .blog_details h4:hover {
  color: #ff3636;
  cursor: pointer;
}

.blog button {
  background-color: #ff3636;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #ff3636;
}

.blog button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.hire_div {
  background-image: url("/img/hire-me.jpg");
  color: #fff;
  height: 400px;
}

.hire_div .hire_details {
  z-index: 222;
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.hire_div .hire_details i {
  font-size: 80px;
  color: #fff;
  margin-bottom: 20px;
}

.hire_div .hire_details h1 {
  margin-bottom: 30px;
}

.hire_div .hire_details button {
  background-color: #ff3636;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #ff3636;
}

.hire_div .hire_details button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.contact_us .contact_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_us .contact_details .address_icon {
  margin-right: 10px;
}

.contact_us .contact_details h6 {
  margin-bottom: 0;
}

.contact_us .contact_details p {
  margin-bottom: 0;
}

.footer_section {
  background-color: #333;
  height: 400px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  position: relative;
}

.footer_section h1::after {
  content: "";
  top: 50%;
  width: 56%;
  height: 2px;
  position: absolute;
  background: #777;
  left: 23%;
}

.footer_section a {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  display: inline-block;
  position: relative;
}

.footer_section p {
  margin-top: 80px;
}
/*# sourceMappingURL=style.css.map */