.services {
  background-color: $service_bg;
  text-align: center;
  .service_details {
    padding: 100px 0px;
  }
  .service_single_content {
    background-color: $white;
    padding: 25px;
    margin-top: 40px;
  }
  .service_icon {
    i {
      font-size: 40px;
      background-color: $link_hover;
      color: $white;
      padding: 10px;
    }
  }
}
